* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: 'Combo', cursive;
}

/* Body fixed */
body::before {
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    z-index: -1;
    height: 100%;
    position: fixed;
    /* background: linear-gradient(170deg, #3A4F41, #b9314f, #d5a18e, #dec3be, #a4a0a7); */
    background-image: url("https://w.wallhaven.cc/full/95/wallhaven-95l2od.jpg");
    background-position: 50% 50%;
    filter: blur(1px);
}

.loading {
    display: none;
    justify-content: center;
    margin-bottom: 2px;
}

.box {
    flex-direction: row;
    justify-content: center;
    height: auto;
    display: flex;
    margin: 10px;
    align-items: center;
}

.forecast-left,
.forecast-right {
    box-shadow: 10px 10px;
    border-radius: 10px;
    padding: 5px;
    background: white;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 50px;
}

.forecast {
    display: none;
}

.forecast-left .title,
.forecast-right .title {
    font-weight: 800;
    padding: 10px;
}

.forecast-left .day,
.forecast-right .day {
    width: 100px;
    color: black;
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
    border-left: 2px solid #bfbfbf;
}

.forecast-left .day .date,
.forecast-right .day .date {
    font-size: calc(.8rem - .7px);
}

.back {
    padding: 2px;
    color: black;
    font-size: 20px;
    font-weight: 500;
    justify-content: start;
}

.box a {
    text-decoration: none;
    width: 100%;
}

.getlocation {
    display: flex;
    width: 85%;
    align-items: center;
    height: calc(100vh - 11vh);
}

.getlocationbox {
    padding: 15px;
    box-shadow: 10px 10px;
    border: 2px solid white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* Lines */
.lines {
    display: flex;
    justify-content: center;
    align-items: center;
}

.line {
    margin: 0 5px;
    border: 2px solid black;
    width: 100%;
    height: 2px;
}

.weather {
    margin-top: 20px;
    width: 100%;
    display: none;
    flex-direction: column;
    height: calc(40rem - 13vh);
    align-items: center;
}

.weather-box {
    display: flex;
    background: white;
    flex-direction: column;
    padding: 6px;
    align-items: center;
    border-radius: 10px;
    box-shadow: 10px 10px;
}

.weather-box img {
    max-width: 125px;
}

.weather-box .temp {
    display: flex;
    font-size: 50px;
    font-weight: 600;
}

.weather-box .temp .numb {
    font-weight: 700;
}

.weather-box .temp1 {
    display: flex;
    font-size: 25px;
    font-weight: 600;
}

.weather-box .temp1 .numb {
    font-weight: 700;
}

.weather-box .temp .deg {
    font-size: 40px;
    margin: 10px 5px 0 0;
    display: block;
}

.weather-box .weLocation {
    text-align: center;
    display: block;
    align-content: center;
    font-size: 25px;
    margin-bottom: 30px;
}

.weLocation i {
    font-size: 20px;
}

.bottom-details {
    width: 100%;
}

.weather-box .bottom-details {
    border: 2px solid #bfbfbf;
    border-radius: 10px;
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.bottom-details .column {
    width: 100%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.column i {
    color: #40AFFc;
    font-size: 40px;
}

.humidity {
    border-left: 2px solid #bfbfbf;
}

.humidity .numb {
    font-weight: 600;
    font-size: 25px;
}

.wind {
    border-left: 2px solid #bfbfbf;
}

.wind .speed {
    font-weight: 600;
    font-size: 25px;
}

.details {
    padding-left: 5px;
}

/* Footer */
footer {
    font-size: calc(1.3rem + .6vw);
    position: absolute;
    padding: 10px 0;
    background: black;
    color: white;
    width: 100%;
}

@media (max-width:1000px) {
    footer {
        font-size: 15px !important;
    }

    .weather-box .bottom-details {
        flex-wrap: wrap;
        overflow: scroll;
    }


    .weather {
        height: auto;
        margin: 15px;
    }

    .box {
        flex-direction: column;
    }

    .forecast-left {
        border-radius: 0;
        width: 70%;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        order: 3;
    }
    
    .forecast-right {
        border-radius: 0;
        width: 70%;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        order: 2;
    }

    .forecast-left,
    .forecast-right {
        flex-direction: row;
    }

    .forecast-left .day,
    .forecast-right .day {
        width: auto;
    }

    .feels,
    .humidity,
    .wind {
        border: none;
    }
}